@{
    ViewBag.Title = "The Chess Game TM";
}

<div class="jumbotron">
    <h1>The Chess Game TM</h1>
    <p class="loginBox">Login to your user and other useful stuff.</p>
    <input id="gameName" /><button value="createGame">Create Game</button><button value="joinGame">Join Game</button><button value="observeGame">Observe Game</button>
</div>

<div class="row">
    <div class="gameBoard">
        <h2 id="showGameName">ID: Name of the Game</h2>
        <table id="GameBoard">
            <tbody>
                <tr id="Y8">
                    <td class="A"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="B"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="C"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="D"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="E"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="F"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="G"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="H"> <img src="/Images/BlackKnight.png" /></td>
                </tr>
                <tr id="Y7">
                    <td class="A"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="B"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="C"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="D"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="E"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="F"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="G"> <img src="/Images/BlackKnight.png" /></td>
                    <td class="H"> <img src="/Images/BlackKnight.png" /></td>
                </tr>
                <tr id="Y6">
                    <td class="A"> </td>
                    <td class="B"> </td>
                    <td class="C"> </td>
                    <td class="D"> </td>
                    <td class="E"> </td>
                    <td class="F"> </td>
                    <td class="G"> </td>
                    <td class="H"> </td>
                </tr>
                <tr id="Y5">
                    <td class="A"> </td>
                    <td class="B"> </td>
                    <td class="C"> </td>
                    <td class="D"> </td>
                    <td class="E"> </td>
                    <td class="F"> </td>
                    <td class="G"> </td>
                    <td class="H"> </td>
                </tr>
                <tr id="Y4">
                    <td class="A"> </td>
                    <td class="B"> </td>
                    <td class="C"> </td>
                    <td class="D"> </td>
                    <td class="E"> </td>
                    <td class="F"> </td>
                    <td class="G"> </td>
                    <td class="H"> </td>
                </tr>
                <tr id="Y3">
                    <td class="A"> </td>
                    <td class="B"> </td>
                    <td class="C"> </td>
                    <td class="D"> </td>
                    <td class="E"> </td>
                    <td class="F"> </td>
                    <td class="G"> </td>
                    <td class="H"> </td>
                </tr>
                <tr id="Y2">
                    <td class="A"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="B"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="C"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="D"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="E"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="F"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="G"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="H"> <img src="/Images/WhiteKnight.png" /></td>
                </tr>
                <tr id="Y1">
                    <td class="A"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="B"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="C"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="D"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="E"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="F"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="G"> <img src="/Images/WhiteKnight.png" /></td>
                    <td class="H"> <img src="/Images/WhiteKnight.png" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="chat">
        <p id="chat">This is the chat, welcome.</p>
        <input id="chatInput"/><br />
        <button value="send">Send</button><button value="makeMove">Make move</button>
    </div>
</div>